@model TextMark.Models.Labels_BG_Colours_TB

@{
    ViewData["Title"] = "BackGround Colour and Shortcut Key Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Details of BackGround Colour and Shortcut Key</h1>

<div>    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label_Background_Color)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Label_Background_Color)*@
            <div style="width:200px; height:40px; text-align:center; background-color: @Model.Label_Background_Color;">@Html.DisplayFor(model => model.Label_Background_Color)</div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label_ShortCut_Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Label_ShortCut_Key)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roles_TB.Role_Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roles_TB.Role_Text)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Label_BGColour_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
