@model IEnumerable<TextMark.Models.Labels_BG_Colours_TB>

@{
    ViewData["Title"] = "BackGround Colours Admin Page";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>List of Background Colours and Shortcut Keys</h2>

<p>
    <a asp-action="Create">Create a New BackGround Colour and Shortcut Key</a>
</p>
@*<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container" id="Users_Container">*@
        <table class="table">
            <thead>
                <tr>                   
                    <th>
                        @Html.DisplayNameFor(model => model.Label_Background_Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Label_ShortCut_Key)
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>                        
                        <td>
                            <div style="width: 200px; height: 40px; text-align: center; background-color: @item.Label_Background_Color;">@Html.DisplayFor(modelItem => item.Label_Background_Color)</div>
                            @*@Html.DisplayFor(modelItem => item.Label_Background_Color)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Label_ShortCut_Key)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Label_BGColour_ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Label_BGColour_ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Label_BGColour_ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*</div>
    </main>*@
