@model IEnumerable<TextMark.Models.Assigned_Annotations_ToUsers_TB>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users_TB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Annotations_TB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Users_TB.ConfirmPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annotations_TB.Annotation_Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Assigned_Anno_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Assigned_Anno_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Assigned_Anno_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
