@model TextMark.Models.Annotations_Labels_TB

@{
    ViewData["Title"] = "Annotation's Label Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annotations_TB.Annotation_Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annotations_TB.Annotation_Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Labels_TB.Label_Text)
            @*@Html.DropDownList("Annotation_ID", new SelectList(ViewBag.Annotations, "Annotation_ID", "Annotation_Text"), "Select an Annotation Text",
                 new { @class = "form-control" })*@
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Labels_TB.Label_Text)
            @*@Html.DropDownList("Label_ID", new SelectList(ViewBag.Labels, "Label_ID", "Label_Text"), "Select a Label",
                  new { @class = "form-control" })*@
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Anno_Label_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
