@model IEnumerable<TextMark.Models.Annotations_Labels_TB>

@{
    ViewData["Title"] = "Annotations Labels Admin Page";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>List of Annotations Labels</h1>

<p>
    <a asp-action="Create">Create New Annotation Label</a>
</p>
@*<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container" id="Users_Container">*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Annotations_TB.Annotation_Text)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Labels_TB.Label_Text)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Annotations_TB.Annotation_Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Labels_TB.Label_Text)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Roles_TB.Role_Text)
                        </td>*@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Anno_Label_ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Anno_Label_ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Anno_Label_ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*</div>
    </main>*@
