@model IEnumerable<TextMark.Models.Labels_TB>

@{
    ViewData["Title"] = "LabelsTB Admin Page";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>List of Labels</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Label</a>
</p>
@*<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container" id="Users_Container">*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Label_Text)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Label_Background_Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Label_ShortCut_Key)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Projects_TB.Project_Name)
                    </th>

                    <th>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label_Text)
                    </td>
                    <td>
                        <div style="width: 200px; height: 40px; text-align: center; background-color: @item.Label_Background_Color;">@Html.DisplayFor(modelItem => item.Label_Background_Color)</div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label_ShortCut_Key)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Projects_TB.Project_Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Label_ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Label_ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Label_ID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @*</div>
    </main>*@
