@model TextMark.Models.Roles_TB

@{
    ViewData["Title"] = "Role Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role_Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role_Text)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roles_TB.Role_Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roles_TB.Role_Text)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Role_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
