@*@model IEnumerable<TextMark.Models.Assigned_TextClassifications_ToUsers_TB>*@
@model TextMark.Models.Details_Assigned_TextClassifications_ToUsers
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Assigned Text Classifications to Users - Admin Page";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Assigned Text Classifications Management </h2>

<form asp-action="Index" asp-controller="Admin_Assigned_TextClassificationsTB">
    <div>
        <div class="form-group flex-row m-2">
            <label>Select a Username: </label>
            @if (Model.Selected_UserID > 0)
            {
                @Html.DropDownList("User_ID", new SelectList(ViewBag.Users, "User_ID", "Username", Model.Selected_UserID), "Select a User", new { @class = "form-control" })
            }
            else
            {
                @Html.DropDownList("User_ID", new SelectList(ViewBag.Users, "User_ID", "Username"), "Select a User", new { @class = "form-control" })
            }

        </div>
        <div class="flex-row m-2">
            <input type="submit" value="Show Text Classifications" class="btn btn-primary" />
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">DELETE</button>
        </div>

    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DELETE ALERT !!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure to DELETE?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Cancel</button>
                    <button type="submit" value="Delete" class="btn btn-danger" asp-action="DeleteFilter" asp-controller="Admin_Assigned_TextClassificationsTB">YES, DELETE</button>
                </div>
            </div>
        </div>
    </div>
</form>



@if (Model.allClassifications.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.allClassifications[0].Projects_TB.Project_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allClassifications[0].Users_TB.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allClassifications[0].Annotations_TB.Annotation_Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allClassifications[0].Annotations_TB.Annotation_Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allClassifications[0].Count_Classifications)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allClassifications[0].Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allClassifications[0].Not_Sure)
                </th>

                <th>
                    <a class="btn btn-danger" asp-action="ExportDetails" asp-route-Selected_UserID="@Model.Selected_UserID">All Details</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.allClassifications)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Projects_TB.Project_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users_TB.Username)
                    </td>
                    @try
                    {
                        <td>
                            @item.Annotations_TB.Annotation_Title.ToString().Substring(0, 15)...
                        </td>
                    }
                    catch
                    {
                        @item.Annotations_TB.Annotation_Title
                    }

                    @try
                    {
                        <td>
                            @item.Annotations_TB.Annotation_Text.ToString().Substring(0, 25)...
                        </td>
                    }
                    catch
                    {
                        @item.Annotations_TB.Annotation_Text
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.Count_Classifications)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @if (item.Not_Sure == true)
                        {
                            <label>Yes</label>
                        }
                        else
                        {
                            <label>No</label>
                        }
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Assigned_Anno_ID">Edit</a> |*@
                        <a class="btn btn-info" asp-action="Details" asp-route-projectID="@item.Project_ID" asp-route-id="@item.Assigned_TextClassification_ID">Details</a>
                        @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Assigned_TextClassification_ID">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<form asp-action="Index" asp-controller="Admin_Assigned_TextClassificationsTB" method="post">

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.TotalNumPages > 0)
            {
                TempData["PageNum"] = Model.PageNum;
                TempData["User_ID"] = Model.Selected_UserID;

                @if (Model.PageNum == 1)
                {
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                }
                else
                {
                    int PrevPageNum = Model.PageNum - 1;

                    @*<input type="submit" value="Previous" class="btn btn-info" asp-route-PageNum="@PrevPageNum" asp-route-User_ID="@Model.Selected_UserID" />*@
                    <li class="page-item"><a class="page-link" type="submit" asp-route-PageNum="@PrevPageNum" asp-route-User_ID="@Model.Selected_UserID">Previous</a></li>
                }

                <li class="page-item disabled "><a class="page-link" href="#">  Page @Model.PageNum of @Model.TotalNumPages</a></li>
                @*<input  value="Page @Model.PageNum of @Model.TotalNumPages" class="btn btn-light disabled"/>*@

                @if (Model.PageNum < Model.TotalNumPages)
                {
                    int NextPageNum = Model.PageNum + 1;

                    @*<input type="submit" value="Next" class="btn btn-success" asp-route-PageNum="@NextPageNum" asp-route-User_ID="@Model.Selected_UserID" />*@
                    <li class="page-item"><a class="page-link" type="submit" asp-route-PageNum="@NextPageNum" asp-route-User_ID="@Model.Selected_UserID">Next</a></li>


                }
                else
                {
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                }
            }
        </ul>
    </nav>
</form>

<br />
<br />


